#{$buttons} {
    &.button {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        text-align: center;
        appearance: none;
        cursor: pointer;
        border: none;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: normal;
        user-select: none;

        &,
        &:hover,
        &:active,
        &:hover {
            text-decoration: none;
        }

        &.button--wide {
            display: block;
            width: 100%;
        }

        &.button--disabled,
        &[disabled] {
            cursor: not-allowed;
        }

        @include button-style('default');
        @include button-model('default');
    }
}

.button__inner-wrapper,
.button__glyph-wrapper {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}

.button__glyph {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    fill: inherit;
    stroke: inherit;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.button__glyph-wrapper {
    line-height: 1;
    text-align: center;

    .button--fixed-glyph & {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        &.button__glyph-wrapper--reverse {
            left: auto;
            right: 0;
        }
    }
}

@if function-exists('extend-module') {
    @if extend-module($button-styles) {
        @each $list in extend-module($button-styles) {

            $name: map-get($list, 'name');
            $selector: map-get($list, 'selector');

            #{$buttons} {
                &#{$selector} {
                    // Custom output
                    @include button-style($name);
                    @include button-model($name);
                }
            }
        }
    }
}