@charset "UTF-8";

/// Mixin to generate the defined style for the button module.
///
/// @param { String } $type
///     Specified button to style.
///
/// @return { Value }

@mixin button-style(
    $category: false
) {
    @if $category {
        @if button-style($category, 'font-weight') != false {
            font-weight: button-style($category, 'font-weight');
        }

        @if button-style($category, 'font-style') != false {
            font-style: button-style($category, 'font-style');
        }

        @if button-style($category, 'color') != false {
            color: button-style($category, 'color');
        }

        @if button-style($category, 'background') != false {
            background: button-style($category, 'background');
        }

        @if button-style($category, 'border') != false {
            border: button-style($category, 'border');
        }

        @if button-style($category, 'box-shadow') != false {
            box-shadow: button-style($category, 'box-shadow');
        }

        @if button-style($category, 'opacity') != false {
            opacity: button-style($category, 'opacity');
        }

        @if button-style($category, 'border-radius') != false {
            border-radius: button-style($category, 'border-radius');
        }

        @if button-style($category, 'transition') != false {
            transition: button-style($category, 'transition');

            .button__glyph-wrapper,
            .button__glyph {
                transition: inherit;
            }
        }

        .button-glyph {
            @if button-style($category, 'glyph-color') != false {
                color: button-style($category, 'glyph-color');
            }

            @if button-style($category, 'glyph-stroke') != false {
                stroke: button-style($category, 'glyph-stroke');
            }

            @if button-style($category, 'glyph-fill') != false {
                fill: button-style($category, 'glyph-fill');
            }
        }

        &:enabled:not(.button--disabled),
        &:link:not(.button--disabled) {
            &:hover {
                @if button-style($category, 'color--hover') != false {
                    color: button-style($category, 'color--hover');
                }

                @if button-style($category, 'background--hover') != false {
                    background: button-style($category, 'background--hover');
                }

                @if button-style($category, 'border--hover') != false {
                    border: button-style($category, 'border--hover');
                }

                @if button-style($category, 'box-shadow--hover') != false {
                    box-shadow: button-style($category, 'box-shadow--hover');
                }

                @if button-style($category, 'opacity--hover') != false {
                    opacity: button-style($category, 'opacity--hover');
                }

                .button__glyph,
                .button__glyph-wrapper {
                    @if button-style($category, 'glyph-color--hover') != false {
                        color: button-style($category, 'glyph-color--hover');
                    }

                    @if button-style($category, 'glyph-stroke--hover') != false {
                        stroke: button-style($category, 'glyph-stroke--hover');
                    }

                    @if button-style($category, 'glyph-fill--hover') != false {
                        fill: button-style($category, 'glyph-fill--hover');
                    }
                }
            }

            &:focus,
            &:active {
                @if button-style($category, 'color--active') != false {
                    color: button-style($category, 'color--active');
                }

                @if button-style($category, 'background--active') != false {
                    background: button-style($category, 'background--active');
                }

                @if button-style($category, 'border--active') != false {
                    border: button-style($category, 'border--active');
                }

                @if button-style($category, 'box-shadow--active') != false {
                    box-shadow: button-style($category, 'box-shadow--active');
                }

                @if button-style($category, 'opacity--active') != false {
                    opacity: button-style($category, 'opacity--active');
                }

                .button-glyph,
                .button__glyph-wrapper {
                    @if button-style($category, 'glyph-color--active') != false {
                        color: button-style($category, 'glyph-color--active');
                    }

                    @if button-style($category, 'glyph-stroke--active') != false {
                        stroke: button-style($category, 'glyph-stroke--active');
                    }

                    @if button-style($category, 'glyph-fill--active') != false {
                        fill: button-style($category, 'glyph-fill--active');
                    }
                }
            }
        }

        &:disabled,
        &.button--disabled {
            @if button-style($category, 'color--disabled') != false {
                color: button-style($category, 'color--disabled');
            }

            @if button-style($category, 'background--disabled') != false {
                background: button-style($category, 'background'--disabled);
            }

            @if button-style($category, 'border--disabled') != false {
                border: button-style($category, 'border--disabled');
            }

            @if button-style($category, 'box-shadow--disabled') != false {
                box-shadow: button-style($category, 'box-shadow--disabled');
            }

            @if button-style($category, 'opacity--disabled') != false {
                opacity: button-style($category, 'opacity--disabled');
            }

            .button-glyph,
            .button__glyph-wrapper {
                @if button-style($category, 'glyph-color--disabled') != false {
                    color: button-style($category, 'glyph-color--disabled');
                }

                @if button-style($category, 'glyph-stroke--disabled') != false {
                    stroke: button-style($category, 'glyph-stroke--disabled');
                }

                @if button-style($category, 'glyph-fill--disabled') != false {
                    fill: button-style($category, 'glyph-fill--disabled');
                }
            }
        }
    }
}